{% extends "issues/base.html" %}

{% block subtitle %}{{ _("Manage notifications") }}{% endblock %}

{% block maintag %}<div class="row" role="main">{% endblock %}

{% block breadcrumb_content %}
  <li><a href="/data/search">Datasets</a></li>
  <li class="active">Issue Notification Settings</li>
{% endblock %}

{% block primary_content %}
      <h1 class="heading">Email settings</h1>

      <p>This page will allow you to change your notification settings to control which how you receive emails relating to issues</p>
      <br/>

      <form class="form" action="" method="POST">
      <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Settings</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                            <div class="radio">
                                <label>
                                    <input name="never" type="radio" value="false" {% if c.settings.all_publishers or not c.settings.never%}checked{% endif%}>
                                    Send me emails for all publishers
                                </label>
                            </div>

                        <label for="exclude_publishers">Except for these publishers</label>
                        <select id="exclude_publishers" name="exclude_publishers" class="form-control chzn-select" data-placeholder=" " multiple>
                            {% for organization in c.organizations %}
                                <option value="{{organization.id}}" {% if organization.id in c.settings.exclude_publishers %}selected{% endif %}>{{organization.title}}</option>
                            {% endfor %}
                        </select>

                     </div>

                    <div class="col-md-6"  style="border-left: solid 2px #ddd">
                            <div class="radio">
                                <label>
                                    <input name="never" type="radio" value="true" {% if c.settings.never %}checked{% endif%}>
                                    Never send me emails
                                </label>
                            </div>

                            <label for="include_publishers">Except for these publishers</label>
                            <select id="include_publishers" name="include_publishers" class="form-control chzn-select"  data-placeholder=" " multiple >
                                {% for organization in c.organizations %}
                                    <option value="{{organization.id}}" {% if organization.id in c.settings.include_publishers %}selected{% endif %}>{{organization.title}}</option>
                                {% endfor %}
                            </select>
                    </div>
                </div>
                <hr/>

                <div class="checkbox">
                    <label>
                        <input name="all_where_editor_admin" type="checkbox" value="true" {% if c.settings.all_where_editor_admin %}checked{% endif%}>
                        Only send emails for publishers where I am an editor or administrator
                    </label>
                </div>



            </div>

            <div class="panel-footer">
                <input type="submit" class="btn btn-primary pull-right" value="Save settings">
                <div class="clearfix"></div>
            </div>
        </div>
            </form>

        <script type="text/javascript">
            $(document).ready(function(){
                $(".chzn-select").chosen();
            });

        </script>

{% endblock %}

